.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header .logo {
  width: 100px;
}

.header .header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header .header-right i {
  margin-right: 5px;
}

.header .header-right a {
  color: white;
}

.header .header-right a:hover {
  color: purple;
}

@media (max-width: 768px) {
  .header {
    padding: 30px 10px 10px;
  }

  .header,
  .header .header-right {
    flex-direction: column;
    gap: 10px;
  }
}